body {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-size: 16px;
    background-color: #191919;
    text-shadow: 0px 0px 5px #000;
}

#shell {
    padding: 5px 15px;
}

#msgs {
    display: none;
    padding-bottom: 50px;
}

#userList {
    display: none;
    padding-bottom: 50px;
}

#toggleViewButton {
    position: fixed;
    top: 0;
    right: 0;
    padding: 5px;
}

.msg {
    margin: 5px 0 5px 0;
}

#msgInput {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 15px;
    border-width: 0;
    width: 100%;
    height: 17px;
    color: #FFF;
    background:
       -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.06, #191919),
        color-stop(0.77, #373737)
      );
      background:
        -moz-linear-gradient(
         top,
        #191919,
        #373737
       );
      filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr='#191919',
        endColorstr='#373737'
      );
    box-shadow: 0 0 5px #191919;
    -webkit-box-shadow: 0 0 5px #191919;
    -moz-box-shadow: 0 0 5px #191919;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#191919, offX=0, offY=0, positive=true);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

#sendButton {
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 78px;
    height: 75;
    padding: 14px 15px 14px 15px;
    text-align: center;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.06, #49a7f7),
        color-stop(0.77, #0081e8)
        );
    background: -moz-linear-gradient(
        top,
        #49a7f7,
        #0081e8
        );
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr='#49a7f7',
        endColorstr='#0081e8'
        );
    -webkit-top-left-border-radius: 5px;
    -moz-top-left-border-radius: 5px;
    border-top-left-radius: 5px;
    text-shadow: 0px 0px 10px #000;
}

.subtleMsg, .msgLabel {
    font-size: 13px;
    opacity: .5;
}

abbr[title], acronym[title] {
   border-bottom-width: 0;
 }
 
.timestamp {
  font-size: 13px;
  opacity: .3;
}

.smIndent {
    margin-left: 5px;
}